/* 버튼 스타일 */
.btn-primary {
    background-color: #b66e03 !important;
    border-color: #b66e03 !important;
}

.btn-primary:hover {
    background-color: #b66e03 !important;
    border-color: #b66e03 !important;
}

.btn-outline-primary {
    color: #b66e03 !important;
    border-color: #b66e03 !important;
}

.btn-outline-primary:hover {
    background-color: #b66e03 !important;
    color: #fff !important;
}
